<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style lang='scss'>
		.photo-home{
			display:flex;
			flex-direction: column;
			height:100%;
			font-family:SourceHanSansCN-Regular;
			color:rgba(83,83,83,1);
		}
		.photo-home header{
			height:auto;
		}
		.item-groups{
			flex:1;
			display: flex;
			justify-content: space-between;
			margin-top:214px;
		}
		.item-group{
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-left:104px;
		}
		.item-group img{
			height: 186px;
			width: 198px; 
		}
	</style>
</head>
<body>
	<div class="photo-home">
		<header>请选择拍照类型</header>
		<div class='item-groups'>
			<div class='item-group'>
				<img src='C:\Users\User1\Desktop\素材\1.jpg'>
			</div>
			<div class='item-group'>
				<img src='C:\Users\User1\Desktop\素材\1.jpg'>
			</div>
			<div class='item-group'>
				<img src='C:\Users\User1\Desktop\素材\1.jpg'>
			</div>
			<div class='item-group'>
				<img src='C:\Users\User1\Desktop\素材\1.jpg'>
			</div>
		</div>
	</div>
</body>
</html>